* {
    margin: 0;
    padding: 0;
}

.wrapper h2 {
    text-align: center;
}

.wrapper h2,
.wrapper h3 {
    margin-top: 15px;
    font-family: Verdana, Helvetica, sans-serif;
}

.header {
    width: 100%;
    background-color: #4E443C;
}

.content {
    max-width: 700px;
    margin: 0 auto;
}


.select-container,
.checkbox-container{
    height: 200px;
    width: 40%;
    float: left;
    padding: 5%;
    text-align: center;
}

.select-container h3 {
    margin: 0 0 20px 0 ;
}


